@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: #b00505;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 0px 40px 100px 40px;
}

/* about_us */

.about_us {
  background-color: hsl(210, 36%, 96%);
}

.about_us div:nth-child(1) {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.about_us div:nth-child(1) h1 {
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  animation: typing 3.5s steps(40, end) forwards, blink-caret 1.4s 5 forwards;
  font-size: 39px;
  letter-spacing: 0.15em;
  padding-left: 40px;
  width: auto;
  display: inline-block;
  margin-right: auto;
}

.about_us div:nth-child(1) p {
  margin-top: 20px;
  color: #707070;
  font-size: 20px;
  line-height: 40px;
  padding: 0 40px;
}
.about_us div:nth-child(2) {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.about_us div:nth-child(2) img {
  object-fit: contain;
  object-position: center;
  height: 80%;
  padding-top: 48px;
}
@keyframes typing {
  0% {
    max-width: 0;
  }
  100% {
    max-width: 100%;
  }
}

@keyframes blink-caret {
  from {
    border-color: orange;
  }
  to {
    border-color: transparent;
  }
}

/* about_us */

/* founding_story */
.founding_story {
  padding: 35px 40px;
}
.founding_story div {
  margin: 20px;
}

.founding_story .image {
  width: 40%;
}

.founding_story .content {
  width: 60%;
}
.founding_story div h2 {
  font-size: 30px;
  padding: 0 20px;
  letter-spacing: 0.15rem;
}
.founding_story div p {
  padding: 20px 20px 20px 20px;
  color: #707070;
  line-height: 40px;
  font-size: 20px;
}
.founding_story div img {
  width: 100%;
}
/* founding_story */
/* our values */
.our_value {
  padding: 35px 40px;
  background-color: hsl(45, 100%, 96%);
}
.our_value div {
  margin: 20px;
}

.our_value .image {
  width: 40%;
}

.our_value .content {
  width: 60%;
}
.our_value div h2 {
  font-size: 30px;
  padding: 0 20px;
  letter-spacing: 0.15rem;
}
.our_value div p {
  padding: 20px 20px 20px 20px;
  color: #707070;
  line-height: 40px;
  font-size: 20px;
}
.our_value div img {
  width: 100%;
}
/* our values */
/* our_services */
.our_services h2 {
  margin-top: 20px;
}

.services_container {
  display: grid;
  width: 85%;
  margin: 0 auto;
  grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
}

.service_item {
  margin: 45px;
  padding: 30px 30px 15px 30px;
  background-color: hsl(210, 36%, 96%);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
}

.service_item:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  /* scale is also increases the size of child */
}

.service_item .service_image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.service_item .service_content {
  padding-top: 35px;
  text-align: center;
}

.our_services h2 {
  font-size: 35px;
  text-align: center;
  letter-spacing: 0.15rem;
}
.service_item h3 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

.service_item a {
  font-weight: 600;
  margin-right: 2px;
}

.service_item i {
  font-size: medium;
  color: #b00505;
  margin-left: 4px;
  transition: all 0.3s linear;
  margin-top: 2px;
}

.service_item:hover i {
  transform: translateX(50%);
}

/* contact */
/* our_services */
.contact {
  background-color: hsl(45, 100%, 96%);
}
.contact h2 {
  margin-top: 20px;
}

.contact_container {
  display: grid;
  grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
  margin: 0 auto;
}

.contact_item {
  margin: 45px;
  padding: 0 0 15px 0;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
  border-radius: 6px;
}

.contact_item:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.contact_item .contact_image img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 15rem;
}

.contact_item .contact_image {
  text-align: center;
}
.contact_item .contact_content {
  padding-top: 20px;
  text-align: center;
}

.contact h2 {
  font-size: 35px;
  text-align: center;
  letter-spacing: 0.15rem;
}
.contact_item h3 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact_item a {
  font-weight: 600;
  margin-right: 2px;
}
/* contact */
/* .about_us div:nth-child(1) h1 br {
    display: block;
  } */
@media screen and (max-width: 1496px) {
  .container {
    padding-top: 40px;
  }
}

@media screen and (max-width: 1400px) {
  .services_container {
    width: 90%;
  }
  .our_value .image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .our_value .image img {
    object-fit: contain;
    object-position: center;
    max-height: 80%;
  }
  .founding_story .image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .founding_story .image img {
    object-fit: contain;
    object-position: center;
    max-height: 80%;
  }
}

@media screen and (max-width: 1262px) {
  .services_container {
    width: auto;
  }
  .contact_item .contact_image img {
    height: 12rem;
  }
}

@media screen and (max-width: 992px) {
  .about_us div:nth-child(1) p {
    font-size: 16px;
  }
  .about_us div:nth-child(1) h1 {
    font-size: 30px;
  }
  .founding_story div p {
    font-size: 16px;
  }
  .our_value div p {
    font-size: 16px;
    line-height: 1.5;
  }
  .our_value div p {
    font-size: 16px;
    line-height: 1.5;
  }
  .founding_story div h2 {
    font-size: 30px;
  }
  .our_value div h2 {
    font-size: 30px;
  }
  .our_services h2 {
    font-size: 30px;
  }
  .service_content h3 {
    font-size: 24px;
  }
  .contact h2 {
    font-size: 30px;
  }
  .contact_content h3 {
    font-size: 24px;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 40px 0;
  }

  .about_us {
    padding-top: 0;
    flex-direction: column-reverse;
  }
  .about_us div:nth-child(1) {
    width: 100%;
  }

  .about_us div:nth-child(1) h1 {
    width: auto;
    padding-left: 0;
    margin: 0 auto;
  }
  .about_us div:nth-child(2) {
    width: 100%;
  }
  .about_us h1 {
    margin: 0 auto;
  }

  .about_us div:nth-child(2) img {
    width: 50%;
    height: 50%;
    margin: 0 auto;
  }

  .our_value .image {
    order: 1;
    width: auto;
  }

  .our_value .content {
    order: 2;
    width: auto;
  }
  .our_value div h2 {
    text-align: center;
  }

  .our_value .image img {
    width: 70%;
    height: 70%;
    margin: 0 auto;
  }

  .founding_story .image {
    width: auto;
  }
  .founding_story .image img {
    width: 70%;
    height: 70%;
    margin: 0 auto;
  }

  .founding_story .content {
    width: auto;
  }
  .founding_story div h2 {
    text-align: center;
  }

  .services_container {
    width: 100%;
    grid-template-columns: calc(100% / 2) calc(100% / 2);
  }
  .services_container div:nth-child(3) {
    grid-column: 1 / span 2;
  }

  .contact_container {
    width: 100%;
    grid-template-columns: calc(100% / 2) calc(100% / 2);
  }
  .contact_container div:nth-child(3) {
    grid-column: 1 / span 2;
  }
  .service_item {
    margin: 20px 40px;
    padding: 10px;
  }

  .contact_item {
    margin: 20px 40px;
  }
}

@media screen and (max-width: 768px) {
  .services_container {
    display: flex;
    flex-direction: column;
  }
  .about_us div:nth-child(2) img {
    width: 70%;
    height: 70%;
    margin: 0 auto;
  }
  .contact_container {
    display: flex;
    flex-direction: column;
  }
  .contact_container {
    grid-template-columns: calc(100% / 2) calc(100% / 2);
  }
  .contact_container div:nth-child(3) {
    grid-column: 1 / span 2;
  }
  .contact_item {
    width: 70%;
    margin: 40px auto 0 auto;
  }
}

@media screen and (max-width: 450px) {
  .founding_story div p {
    padding: 0;
    padding-top: 10px;
  }
  .our_value div p {
    padding: 0;
    padding-top: 10px;
  }
  .about_us div:nth-child(1) p {
    padding: 0 20px;
  }
}

@media screen and (max-width: 400px) {
  .about_us div:nth-child(1) h1 {
    font-size: 24px;
  }
  .founding_story div h2 {
    font-size: 24px;
  }
  .our_value div h2 {
    font-size: 24px;
  }
}
